Repository walber-vaz/setup-node-docker: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint 'src/**' --fix, npm run prettier --check 'src/**', npm run test:staged

.lintstagedrc.json:

{
  "*.ts": [
    "npm run eslint 'src/**' --fix",
    "npm run prettier --check 'src/**'",
    "npm run test:staged"
  ],
  "*.js": [
    "npm run eslint 'src/**' --fix",
    "npm run prettier --check 'src/**'",
    "npm run test:staged"
  ],
  "*.json": [
    "npm run prettier --check 'src/**'"
  ],
  "*.md": [
    "npm run prettier --check 'src/**'"
  ],
  "*.scss": [
    "npm run prettier --check 'src/**'"
  ],
  "*.html": [
    "npm run prettier --check 'src/**'"
  ],
  "*.css": [
    "npm run prettier --check 'src/**'"
  ],
  "*.graphql": [
    "npm run prettier --check 'src/**'"
  ],
  "*.yml": [
    "npm run prettier --check 'src/**'"
  ],
  "*.yaml": [
    "npm run prettier --check 'src/**'"
  ]
}

chore: create setup jest used in tests project
  .eslintignore
  .eslintrc.json
  .husky/pre-push
  .prettierignore
  .prettierrc.json
  jest.config.cjs
  package-lock.json
  package.json
  src/index.spec.js
Due: npm run eslint 'src/**' --fix, npm run prettier --check 'src/**', npm run test:staged

fix: bug in config husky
  .husky/pre-commit
  .husky/pre-push
Due: none

fix: jest config and lint-staged config
  .lintstagedrc.json
  jest.config.cjs
  package.json
  src/index.js
Due: npm run eslint 'src/**' --fix, npm run prettier --check 'src/**', npm run test:staged

feat: add line type: module and package.json
  package.json
Due: npm run prettier --check 'src/**'

feat: update script package.json
  package.json
Due: npm run prettier --check 'src/**'

feat: create Dockerfile multi stage build and docker-compose for up container
  Dockerfile
  docker-compose.yml
  nodemon.json
  package-lock.json
  package.json
  src/index.js
Due: npm run eslint 'src/**' --fix, npm run prettier --check 'src/**', npm run test:staged

chore: add license
  LICENSE
Due: none

chore: add supertest
  .eslintrc.json
  package-lock.json
  package.json
  src/index.js
  src/index.spec.js
Due: npm run eslint 'src/**' --fix, npm run prettier --check 'src/**', npm run test:staged
